@font-face {
    font-family: Nunito;
    src: url(Nunito-VariableFont_wght.ttf);
}

#logo {
    width: 127.11px;
    height: 33.15px;
}

#draw {
    width: 447.49px;
    height: 449.19px;
    flex: none;
    order: 0;
    flex-grow: 0;
    z-index: 0;

}

#bigBox {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px 0px;
    gap: 68px;

    width: 1125px;
    height: 909px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

#titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 1124px;
    height: 109px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#mainBox {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    width: 1125px;
    height: 692px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 1;
}

#leftBox {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    width: 549px;
    height: 692px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#rightBox {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    isolation: isolate;

    width: 551px;
    height: 692px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;

    width: 1440px;
    height: 1010px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

header {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 0px;
    gap: 10px;

    width: 1440px;
    height: 101px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#wrapperTop {

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    width: 1128px;
    height: 77px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#title {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1124px;
    height: 76px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#titleP {
    width: 1124px;
    height: 76px;

    /* Heading/h1 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 58px;
    line-height: 131.7%;

    /* or 76px */

    /* Purple */
    color: #330080;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 80px;
}

#textTop {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 1124px;
    height: 29px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#textTopP {
    width: 1027px;
    height: 29px;

    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 40px;
}

#large {
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;

    position: relative;
    width: 1440px;
    height: 1010px;

    /* Gradient_light */
    background: linear-gradient(180deg, #F8F8FB 0%, #FFFFFF 50%);
}

#leftTop {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 4px;

    width: 549px;
    height: 75px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#step1Div {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;

    width: 549px;
    height: 42px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#chooseDiv {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 549px;
    height: 29px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#step1 {
    width: 659px;
    height: 42px;

    /* Heading/h2 */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 131.7%;

    /* or 42px */

    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#choose {
    width: 549px;
    height: 29px;

    /* Paragraph/18/regular */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 15px;
}

#leftMid {
    /* Middle */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

    width: 549px;
    height: 278px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

#frame4 {
    /* Frame 4 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 32px;

    width: 549px;
    height: 29px;

    border-bottom: 1px solid rgba(84, 74, 98, 0.19);

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

frame7 {
    /* Frame 7 */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 47px;
    height: 29px;

    border-bottom: 2px solid #330080;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

frame8 {
    /* Frame 8 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 81px;
    height: 29px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#tezos {
    /* Tezos */

    width: 47px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Purple */
    color: #330080;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 15px;
}

#ethereum {
    /* Ethereum */

    width: 81px;
    height: 29px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    position: relative;
    bottom: 15px;
}

#frame11 {
    /* Frame 11 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 549px;
    height: 179.89px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#frame10 {
    /* Frame 10 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 51px;
    height: 23px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#popular {
    /* Popular */

    width: 51px;
    height: 23px;

    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 161.7%;

    /* identical to box height, or 23px */

    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#connect_box {

    position: absolute;
    top: 200px;
    left: 0px;
    width: 549px;
    height: 148.89px;


}

#frame1 {
    /* Frame 1 */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 549px;
    height: 148.89px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    position: relative;
    top: 20px;
}

#box1 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    width: 549px;
    height: 65.89px;

    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

#box1:hover {
    background: #EDECF2;
}

#box2 {
    /* item */

    box-sizing: border-box;

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 24px;

    width: 549px;
    height: 67px;

    background: #FFFFFF;
    border: 1px solid #EDECF2;
    border-radius: 16px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

#box2:hover {
    background: #EDECF2;
}

#underbox1 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 501px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#underbox2 {
    /* inside item */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 501px;
    height: 35px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

.frame2 {
    /* Frame 2 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;

    width: 175.5px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.frame3 {
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    width: 309.5px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    /* Frame 3 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px;

    width: 309.5px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
}

.vector {
    /* Vector */

    width: 9px;
    height: 16px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#beaconlogo {
    /* beacon logo */

    width: 36.5px;
    height: 33.89px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

#kvwalletmodal_walletconnect_btn {
    background-color: transparent;
    border: transparent;
    width: 549px;
    height: 67px;
    border-radius: 16px;
    z-index: 100;
    position: absolute;
    top: 395px;
    left: 166px;

}

#kvwalletmodal_metamask_btn {
    background-color: transparent;
    border: transparent;
    width: 549px;
    height: 67px;
    border-radius: 16px;
    z-index: 100;
    position: absolute;
    top: 478px;
    left: 166px;
}

#frame6 {
    /* Frame 6 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 549px;
    height: 78px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
    /* Frame 6 */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    width: 549px;
    height: 78px;


    /* Inside auto layout */
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}

#ssi {
    /* Connect wallet */

    width: 549px;
    height: 78px;

    /* Paragraph/16/medium */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 161.7%;

    /* or 26px */

    /* Purple_light */
    color: #B0A7BC;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 1;
}

#templelogo {
    /* temple-wallet 1 */

    width: 36px;
    height: 35px;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.walletText {
    /* Beacon Wallet */

    width: 280px;
    height: 29px;

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

#qrcode {
    width: 279px;
}

#success {
    /* Connect wallet */

    width: 549px;
    height: 29px;

    /* Paragraph/18/bold */
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 161.7%;

    /* or 29px */
    text-align: center;

    /* Secondary */
    color: #544A62;


    /* Inside auto layout */
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.transparent {
    background-color: transparent;
    border: transparent;
}

#connectDesktop {

    position: absolute;
    top: 60px;
    left: 153px;
    font-family: Nunito;
    font-size: 20px;
    color: #330080;
}
